extends ../index.pug

block content
    //if error
      p= error.message

    if flash.success
      each message in flash.success
        .alert.alert-success
          = message
    if flash.warning 
      each message in flash.warning 
        .alert.alert-warning 
          = message
    if flash.info 
      each message in flash.info 
        .alert.alert-info 
          = message

    main.container.d-flex.flex-column.align-items-center.mt-auto.mb-auto
      //div.text-center 
        h4= 'Зарегистрируйтесь, чтоб просматривать и писать посты'

      form.form-signin(action = '/users', method = 'post')
        h1.h3.mb-3.fw-normal= 'Регистрация'
        div 
          label.form-label Имя:
            input.form-control(type = 'text', name = 'name')
        div 
          label.form-label Email: 
            input.form-control(type = 'email', name = 'email', required = 'true')
        div 
          label.form-label Пароль:
            input.form-control(type = 'password', name = 'password', required = 'true')
        div 
          label.form-label Подтверждение пароля:
            input.form-control(type = 'password', name ='passwordConfirmation', required = 'true')
        input.btn.btn-primary(type = 'submit', value = 'Зарегестрироваться')
      
      //each user in users
       h2= user.name 
       p= user.email 